$themeFont: 'OpenSans', sans-serif;
$themeFontLight: 'OpenSansLight', sans-serif;
$themeFontSemiBold: 'OpenSansSemiBold', sans-serif;
$themeFontBold: 'OpenSansBold', sans-serif;
$themeFontExBold: 'OpenSansExBold', sans-serif;

$themeColor: #53686c;
$paragraphsColor: #575756;
$black: #000000;
$cWhite: #ffffff;
$bgSection: #f9f9f9;
$subMenuBg: #dfdede;
