/*
 ***********************
 *    IMPORT FONTS     *
 ***********************
*/

@font-face {
  font-family: 'GothicB';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/GOTHICB.TTF') format('truetype');
}
